body         { font-family: 'Georgia', serif; font-size: 18px; color: #444; }
a            { color: #004B6B; }
a:hover      { color: #6D4100; }
.box         { width: 740px; margin: 5em auto 30px auto; }
h2, h3, h4   { font-family: 'Garamond', 'Georgia', serif; font-weight: normal; color: #222;}
h1           { margin: 0 0 30px 0; background: no-repeat center;
               height: 165px; }
h1 span      { display: none; }
.banner      { font-size: 450%; margin: 30px 0 5px 0;
               font-family: 'The Girl Next Door', cursive;
               text-align: center;}
.banner a    {text-decoration: none;}
h2           { font-size: 30px; margin: 15px 0 5px 0; }
h3           { font-size: 24px; margin: 15px 0 5px 0; }
h4           { font-size: 19px; margin: 15px 0 5px 0; }
textarea, code, tt,
pre          { font-family: 'Inconsolata', sans-serif, monospace!important; 
             color: #000; font-size: 18px ; background: #eee; }
pre          { padding: 7px 30px; margin: 15px -30px; line-height: 1.3; 
             border-style:solid; border-width:1px; border-color:#bbb;}

code, tt     {padding: 1px 4px 1px 4px; border-style:solid; border-width:1px; border-color:#bbb;}

.ig          { color: #888; }
p            { line-height: 1.4; }
ul           { margin: 15px 0 15px 0; padding: 15; list-style: none; line-height: 1.4; }
ul li:before { content: "\00BB \0020"; color: #888; position: absolute; margin-left: -19px; }
ol           { line-height: 1.4; margin: 15px 0 15px 30px; padding: 15; }
blockquote   { margin: 0; font-style: italic; color: #444; }
.footer      { font-size: 13px; color: #888; text-align: center; margin-top: 25px; }
.more        { text-align: right; margin-top: 0; font-size: 0.9em; font-style: italic; }
.nav         { text-align: center; }
.nav a       { font-style: italic; }
.backnav     { float: right; color: #444; font-style: italic;
               margin: 5px 0 0 0; font-size: 0.9em; }
.message     { background: #DEEBF3; color: #004B6B; padding: 5px 30px;
               margin: 10px -30px; }
.actions     { margin-top: 0; }
.twitter:before { background: no-repeat; content: " ";
                  float: right; width: 64px; height: 64px;
                  margin: -25px 0 0 0; padding: 0 0 10px 10px; }
.twitter li  { margin: 15px 0; line-height: 1.2; font-size: 15px; }
.twitter li:before { content: "♯"; padding-left: 4px; }
.twitter .meta, .twitter .meta a { color: #888; font-size: 13px; }
table        {border-collapse: collapse; border:1px solid #444;
               margin: 2em 0; font-family:sans-serif}
td, th       { border: 1px dotted #444444; padding: 4px 10px;
               text-align: left; }
th           { background: #eee; font-weight: normal; }

td input     { border: none; padding: 0; }

table.archives, .archives td, .archives th {border: none;}

/*Navigation*/
div.navigation a   { text-decoration: none;  font-size: 20px; padding: 10px;}
div.navigation ol  { margin: 0; padding: 0;}
div.navigation li  { display: inline; padding: 0; content:none;}
div.navigation {
                float: left; background-color: #f4f4f4; 
                padding-top:0;
                text-align: center;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                width: 100%;
                height: 26px;
              }

.current a{color: #666}
/* social */
.social      {margin:10px 0 10px 0; font-size: 40px; text-align: center;}
.social a    {margin: 10px 20px 5px 20px; color: #777; text-decoration: none;}
.social a:hover {color: #004B6B;}

/*posts*/
#post-list{margin-left:0}
.posts ol, .posts ul, .posts li  {list-style-type: none; padding: 0;}
.posts li {padding-bottom: 30px;}
.post h2 { font-size: 50px;}
.post h2 a {text-decoration: none;}
.post-info abbr {font-size: 15px; color: #555; font-style: italic;}
article .archive{margin-top: 10px; margin-bottom: 10px;}
.entry-content{margin-top: 50px; margin-bottom: 40px;}
.archive-entry-title a{font-size: 40px; text-decoration: none;}


/* Inset, by Dan Eden */ 
hr { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); 
              border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/* yt-mod */
#translations{float:right; font-size:90%}
#abstr{font-style:italic; font-size:110%; color:#333; margin-bottom:2em}
blockquote{margin-left:2em; color:#777}
img.align-left{float:left; margin:1.5em; margin-left:0}

.note{background-color:#e7f2fa; color: #404040;}
.note .admonition-title{margin-top:0; background-color: rgba(95, 147, 189, 0.95);
                        color:#fff; padding:.3em 1em; font-family:sans-serif}
.note .admonition-title:before{content:"\f05a\0000a0";
                               font-family:"FontAwesome";}
.note .last{margin-bottom:0; padding:.5em 1em 1em 1em}
#main,
#categories{margin:.3em auto 0 auto; width:740px; text-align:center;
            font-size:22px; font-family: "Arial", sans-serif;
            text-transform:lowercase; border-top:2px dotted #004B6B;
            border-bottom:2px dotted #004B6B;
            padding:.3em 0 .2em 0;}
#categories{border:none; margin-top:.5em; margin-bottom:2em; font-size:90%}
#main a, #categories a{text-decoration:none}
#main span, #categories span{color:#777}
#main *:last-child{margin-right:0}
#main .bullet{margin:0 2%; color:#004B6B}
div.section{margin-top:3em}
.align-center{margin:0 auto; display:block}
i.fa{font-size:80%}
span.price:after{content:"\0000a0\f158"; font-family:"FontAwesome";
                  font-weight:normal}
span.price{font-family:sans-serif; color:green; font-weight:bold}
ul.simple li{margin-bottom:.5em}

/* target mobile devices */
@media only screen and (max-device-width: 480px) {
    .box{margin-top:100px}
}