{% extends "base.html" %}
{% block lang %}{{article.lang}}{% endblock %}
{% block title %}{{article.title}} - {{SITENAME}}{% endblock %}
{% block keywords %}{{article.tags|join(', ')}}{% endblock %}
{% block content %}
<section id="content" class="body">
  <header class="post">
    <h2 class="entry-title">
      {{ article.title }}
    </h2>
  </header>
  <footer class="post-info">
      <abbr>
          <i class="fa fa-calendar-o"></i> {{ article.locale_date }}
          {% if article.tags %}
          | теги:
              {% for tag in article.tags %}
                  <a href="/tag/{{ tag }}.html">
                      <i class="fa fa-tag"></i> {{ tag }}</a>
                 {% if not loop.last %}, {% endif %}
              {% endfor %}
          {% endif %}
          {% if article.author %}
          |  автор: <i class="fa fa-user"></i>  <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
          {% endif %}
          {% if article.translations %}|
          {% import 'translations.html' as translations with context %}
          {{ translations.translations_for(article) }}
          {% endif %}
      </abbr>
  </footer><!-- /.post-info -->
  <div class="entry-content">
    <p id="abstr">{% block description %}{{article.abstr}}{% endblock %}</p>
    {{ article.content }}
  </div><!-- /.entry-content -->
{% include 'disqus.html' %}
</section>
{% endblock %}
